@charset 'utf-8';
/* ◆PC用CSS設定 ここから */
@media screen and (min-width: 641px){
.pc-hidden {
	display		:none;
}
body {
	font-size	:12.5px;
	margin		:0px;
	position	: relative;
	left		: 0;
	top		: 0;
	overflow-x	: hidden;
	background-color:#a5c44f;
	background-image:url(https://chr.mn/_img/pik4/bg31.png);
/*	background-size:cover;
	background-repeat:repeat;
	background-position: center center;
	background-attachment: fixed; */
	font-family:"メイリオ", "ヒラギノ角ゴ ProN W3", sans-serif;
}
#top_page_div {
	margin-top:0px;
	margin:0 auto;
	text-align:center;
}
#top_page_div a {
	color:#ffffff;
}
.top_sub_title, .top_eng_title {
	color:#cccccc;
	font-size:1.12em;
letter-spacing: 4px;
  text-shadow: 1px 1px 2px #000,
               1px -1px 2px #000,
               -1px 1px 2px #000,
               -1px -1px 2px #000;
}
.top_title {
	color		:#fff;
	font-size	:3.75em;
	line-height	:104%;
	letter-spacing	:18px;
	text-shadow	: 0 0 8px #fff;
/*	background-image:url(https://chr.mn/_img/pik4/tb02.png);
	background-clip: text; */
}
.top_content {
	color:#ffffff;
	font-size:1.33em;
  text-shadow: 1px 1px 2px #000,
               1px -1px 2px #000,
               -1px 1px 2px #000,
               -1px -1px 2px #000;
}
.top_sub_content {
	color:#aaaaaa;
	font-size:0.8em;
	text-shadow:0px 2px 8px #000000;
	margin-top:4em;
}
#top_wrapper_futter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200px;
	background-image:url(https://chr.mn/_img/pik4/futter_background.png);
	z-index: -1;
}
#top_wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:url(https://chr.mn/_img/pik4/videomask2.png);
	z-index: -2;
	filter		:alpha(opacity=75);
	-moz-opacity	:.75;
	opacity		:.75;
}
#top_wrapper_back { /* トップ動画の背景 */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:#000000;
	z-index: -4;
}
#video_info {
	position	:fixed;
	left		:8px;
	bottom		:2px;
	color		:#ffffff;
	font-size	:1.44em;
	text-shadow:	 1px  1px 1px #000,
			 1px -1px 1px #000,
			-1px  1px 1px #000,
			-1px -1px 1px #000;
	line-height: 130%;
}
.video_subtitle {
	font-size	:0.65em;
	color		:#bbbbbb;
}
.video_title {
	font-size	:1.10em;
	font-weight	:bold;
}
#video {
	position: fixed;
	top: 0;
	left: 0;
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	z-index: -3;
}
.wrapper_header {
	background-color:#111111;
	color:#ffffff;
	font-size		:0.7em;
	line-height	:30px;
	text-align	:right;
	position		:relative;
	top			:0px;
	margin		:0 auto;
	width		:1224px;
	height		:30px;
	filter		:alpha(opacity=90);
	-moz-opacity	:.90;
	opacity		:.90;
}
/* 投稿フォーム */
#org_form{
	position		: fixed;
	top		: 0px;
	left		: -300px;
	width		: 300px;
	height		: 100%;
	color		:#ffffff;
	background-color:#444444;
	overflow-y	:scroll;
}
#toggle_div{
	width		:100%;
	text-align	:center;
	font-size		:2.5em;
	line-height	:100%;
	margin		:0px;
	padding		:0px;
	height		:30px;
	background-color:#444444;
}
#toggle_div a{
	color		:#ffffff;
}
a:link, a:visited {
	text-decoration	:none;
	font-weight: bold;
}
a:hover, a:active {
	text-decoration	:underline;
}
/* 包括テーブル */
.wrapper {
	width		:1264px;
	margin		:0 auto;
}
.wrapper a {
	color		:#ffffff;
}
.wrapper:after {
	content	: "";
	clear	:both;
	display	:block;
}
/* 左カラム */
.pik4_form {
	float		:left;
	position	:absolute;
	top		:0px;
	width		:222px;
	color		:#dddddd;
	padding		:4px;
	font-size	:0.85em;
	line-height	:1.85em;
	font-weight	:bold;
	background-color:#111111;
	filter		:alpha(opacity=90);
	-moz-opacity	:.90;
	opacity		:.90;
	box-shadow:0px 2px 12px #000000;
}
/* 右カラム */
.pik4_table {
	margin-left	:230px;
	padding-left	:10px;
	background-color:#222222;
	color		:#ffffff;
	border		:1px solid #222;
	width		:1024px;
	filter		:alpha(opacity=95);
	-moz-opacity	:.95;
	opacity		:.95;
}

/* 投稿通知 */
.post_notification {
	position	:fixed;
	top		:0px;
	left		:0px;
	width		:98%;
	background-color:#333333;
	color		:#ffffff;
	font-size	:0.7em;
	border		:1px solid #555555;
	filter		:alpha(opacity=90);
	-moz-opacity	:.90;
	opacity		:.90;
	z-index		:10;
}
.post_notification a {
	color:#ffffff;
	display:block;
	width:100%;
	height:100%;
}
/* チーム対抗専用 */
.pik4_teamtab {
	border-collapse	:separate;
	border-spacing	:0px 8px;
	margin		:24px;
	padding		:0px;
	width		:976px;
	border-radius	:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.pik4_teamtab td {
	vertical-align	:middle;
	background-color:#333333;
	padding		:0.5em;
	border-bottom	:solid 1px #ffffff;
	box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.6);
}
/* ランキングテーブル整形 */
.pik4_scoretab {
	background-color:transparent;
	border-collapse	:separate;
	border-spacing	:0px 12px;
	margin		:0px;
	padding		:0.25em;
	width		:1021px;
	overflow	:hidden;
}
.rtd_rank {
	border-radius: 10px 0px 0px 10px;
}
.rtd_main {
	margin		:0 auto;
	width		:1024px;
	min-height	:400px;
}
.rtd_head {
	margin-top	:1em;
	height		:120px;
	width		:100%;
	vertical-align	:bottom;
}
.rtd_stage_caption {
	font-size	:2.4em;
	line-height	:85%;
	letter-spacing	:4px;
	font-weight	:normal;
	margin		:0.4em 0 0.2em 0;
	padding		:0;
}
.fp_sub_caption {
	margin-top	:1em;
	font-size	:1.6em;
	line-height	:98%;
	font-weight	:normal;
}
h3 {
	margin-top	:1em;
	font-size	:1.3em;
	line-height	:98%;
	font-weight	:normal;
}
.rtd_eng_stage_name {
	font-size	:1.2em;
	color		:#aaa;
}
.form_eng_cap {
	font-size	:0.85em;
	color		:#888888;
}
/* チーム対抗用 */
.rtd2_player{
	font-size		:1.4em;
	font-weight	:bold;
}
.rtd2_score{
	font-family	:'Reem Kufi', sans-serif;
	font-size	:1.8em;
	letter-spacing	:0.075em;
	font-weight	:bold;
  text-shadow: 1px 1px 3px #000,
               1px -1px 3px #000,
               -1px 1px 3px #000,
               -1px -1px 3px #000;
}
.rtd_time{
	width		:18%;
}
.rtd_1st .rtd_ranknum,
.rtd_1st_n .rtd_ranknum,
.rtd_2nd .rtd_ranknum,
.rtd_3rd .rtd_ranknum {
	font-size	:1.7em;
}
.rtd_10th .rtd_ranknum {
	font-size	:1.5em;
}
.rtd_11th .rtd_ranknum,
.rtd_21th .rtd_ranknum {
	font-size	:1.35em;
}
.rtd_rank{
    font-family: 'Quicksand', sans-serif;
	line-height	:1em;
	font-weight	:normal;
	font-size	:1.5em;
	text-align	:center;
	padding		:4px;
	width		:8%;
  text-shadow: 1px 1px 3px #000,
               1px -1px 3px #000,
               -1px 1px 3px #000,
               -1px -1px 3px #000;
}
.rtd_player{
	font-size	:1.3em;
	font-weight	:bold;
	color		:#ffffff;
	width		:25%;
  text-shadow: 1px 1px 3px #000,
               1px -1px 3px #000,
               -1px 1px 3px #000,
               -1px -1px 3px #000;
}
/*
スコア表示用WebFonts (Google Fonts)
順位固定
    font-family: 'Quicksand', sans-serif;
ピク1候補
    font-family: 'Hammersmith One', sans-serif;
ピク2
    font-family: 'Reem Kufi', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
ピク3候補
    font-family: 'Play', sans-serif;
その他
    font-family: 'Changa', sans-serif;
    font-family: 'Press Start 2P', sans-serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Asul', sans-serif;
    font-family: 'Iceland', sans-serif;
イマイチ
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Alef', sans-serif;
    font-family: 'Merriweather Sans', serif;
    font-family: 'Audiowide', cursive;
*/
.rtd_stage {
	text-align	:right;
}
.rtd_comment {
	color		:#aaaaaa;
	font-size	:0.95em;
}
.rtd_score {
	font-size	:1.55em;
	letter-spacing	:0.1em;
	font-family	:'Reem Kufi', sans-serif;
	width		:25%;
	text-shadow    : 
	2px  2px 2px #000000,
       -2px  2px 2px #000000,
	2px -2px 2px #000000,
       -2px -2px 2px #000000,
	2px  0px 2px #000000,
	0px  2px 2px #000000,
       -2px  0px 2px #000000,
	0px -2px 2px #000000;
}
#user_tab .rtd_player a {
	color		:#999999;
}
.rtd_days {
	font-size		:1.4em;
	line-height	:100%;
}
.rtd_pikmin {
	font-size		:1.3em;
	line-height	:100%;
}
.team_point {
	font-family	:'Julius Sans One', sans-serif;
	font-size	:9.5em;
	line-height	:85%;
	letter-spacing	:-0.08em;
}
.team_point_mini {
	font-family	:'Reem Kufi', sans-serif;
	line-height	:50%;
	font-size	:3em;
	letter-spacing	:0.28em;
}
.rtd_other {
	font-size		:0.8em;
	line-height	:100%;
}
.pik4_scoretab td {
	border-left	:1px solid #aaaaaa;
}
.sub_pulldownmenu {
	float		:right;
	text-align	:right;
	margin-right	:2em;
}
.user_info {
	font-size	:0.8em;
	padding		:2px 4px;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-style	:none;
	margin-left	:0.5em;
	line-height	: 2.3em;
	white-space	:nowrap;
}
.object_list{
	width		:48%;
	float		:left;
}
.object_list td{
	border-bottom	:solid 1px #777777;
	line-height	:1.5em;
}
.object_list tr:hover {
	background: #323232 ;
	color: #fff;
}
#total_price {
	background-color:transparent;
	color		:#ffffff;
	font-size	:1.5em;
	border		:none;
	font-weight	:bold;
	width		:6em;
}
.pik4_scoretab tr {
	background-clip: content-box;
}
.rtd_1st {
	font-size	:1.0em;
}
.rtd_1st > td {
	background-color:#666666;
	height	:5.5em;
}
.rtd_1st > .rtd_rank {
	border-left:solid 10px #f5f462;
}
.rtd_1st .rtd_comment {
	color		:#ffffff;
}
.rtd_1st > .rtd_rank,
.rtd_1st > .rtd_player,
.rtd_1st > .rtd_score,
.rtd_1st > .rtd_info {
	border-bottom	:solid 1px #f5f462;
}
.rtd_1st > .rtd_player p,
.rtd_1st > .rtd_score p,
.rtd_1st > .rtd_days p {
	line-height	:100%;
}
.rtd_1st_n {
	font-size	:1.0em;
}
.rtd_1st_n > td {
	background-color:#555555;
	height	:4.5em;
}
.rtd_1st_n > .rtd_rank {
	border-left:solid 10px #c2c14e;
}
.rtd_1st_n .rtd_comment {
	color		:#ffffff;
}
.rtd_1st_n > .rtd_rank,
.rtd_1st_n > .rtd_player,
.rtd_1st_n > .rtd_score,
.rtd_1st_n > .rtd_info {
	border-bottom	:solid 1px #c2c14e;
}
.rtd_1st_n > .rtd_player p,
.rtd_1st_n > .rtd_score p,
.rtd_1st_n > .rtd_days p {
	line-height	:100%;
}

.rtd_2nd {
	font-size	:1.0em;
}
.rtd_2nd > td {
	background-color:#555555;
	height	:4.5em;
}
.rtd_2nd > .rtd_rank {
	border-left:solid 10px #81f562;
}
.rtd_2nd .rtd_comment {
	color		:#eeeeee;
}
.rtd_2nd > .rtd_rank,
.rtd_2nd > .rtd_player,
.rtd_2nd > .rtd_score,
.rtd_2nd > .rtd_info {
	border-bottom	:solid 1px #81f562;
}
.rtd_2nd > .rtd_player p,
.rtd_2nd > .rtd_score p {
	line-height	:100%;
}
.rtd_3rd {
	font-size	:1.0em;
}
.rtd_3rd > td {
	background-color:#444444;
	height	:4.0em;
}
.rtd_3rd > .rtd_rank {
	border-left:solid 10px #62caf5;
}
.rtd_3rd .rtd_comment {
	color		:#cccccc;
}
.rtd_3rd > .rtd_rank,
.rtd_3rd > .rtd_player,
.rtd_3rd > .rtd_score,
.rtd_3rd > .rtd_info {
	border-bottom	:solid 1px #62caf5;
}
.rtd_3rd > .rtd_player p,
.rtd_3rd > .rtd_score p {
	line-height	:100%;
}
.rtd_10th {
	font-size	:1.0em;
	line-height	:1.5em;
}
.rtd_10th > td {
	background-color:#333333;
	height	:3.6em
}
.rtd_10th > .rtd_rank {
	border-left:solid 10px #dcf4f5;
}
.rtd_10th > .rtd_rank,
.rtd_10th > .rtd_player,
.rtd_10th > .rtd_score,
.rtd_10th > .rtd_info {
	border-bottom	:solid 1px #dcf4f5;
}
.rtd_10th > .rtd_player p,
.rtd_10th > .rtd_score p {
	line-height	:100%;
}
.rtd_11th > td {
	background-color:#333333;
	height	:2.8em
}
.rtd_11th {
	font-size	:1.0em;
	line-height	:1.5em;
}
.rtd_11th > .rtd_rank {
	border-left:solid 10px #999999; /* 70万達成者20人したら#999999にする */
}
.rtd_11th > .rtd_rank,
.rtd_11th > .rtd_player,
.rtd_11th > .rtd_score,
.rtd_11th > .rtd_info {
	border-bottom	:solid 1px #999999;
}
.rtd_11th > .rtd_player p,
.rtd_11th > .rtd_score p {
	line-height	:100%;
}
.rtd_21th > td {
	background-color:#222222;
	height	:2.4em
}
.rtd_21th {
	font-size	:1.0em;
	line-height	:1.5em;
}
.rtd_21th > .rtd_rank {
	border-left:solid 10px #999999;
}
.rtd_21th > .rtd_rank,
.rtd_21th > .rtd_player,
.rtd_21th > .rtd_score,
.rtd_21th > .rtd_info {
	border-bottom	:solid 1px #999999;
}
.rtd_21th > .rtd_player p,
.rtd_21th > .rtd_score p {
	line-height	:100%;
}
.rtd_score, .rtd_player {
	padding-left	:0.5em;
}
.rtd_comment_tab {
	width		:100%;
	height		:100%;
}
.rtd_comment_tab td {
	border-left-style	:hidden;
}
.rtd_comment_hr {
	border-top	:#999999 1px dotted;
}
/* 第7回：左＝赤#19acff、右＝青#ff3919 */
.team_color1 > .rtd_rank {
	border-left:solid 10px #19acff;
}
.team_color1 > .rtd_rank,
.team_color1 > .rtd_player,
.team_color1 > .rtd_score,
.team_color1 > .rtd_info {
	border-bottom	:solid 2px #19acff;
}
.team_color2 > .rtd_rank {
	border-left:solid 10px #ff3919;
}
.team_color2 > .rtd_rank,
.team_color2 > .rtd_player,
.team_color2 > .rtd_score,
.team_color2 > .rtd_info {
	border-bottom	:solid 2px #ff3919;
}
/* 第8回：左＝白#eeeeee、右＝紫#b419ff */
.team_color3 > .rtd_rank {
	border-left:solid 10px #eeeeee;
}
.team_color3 > .rtd_rank,
.team_color3 > .rtd_player,
.team_color3 > .rtd_score,
.team_color3 > .rtd_info {
	border-bottom	:solid 2px #eeeeee;
}
.team_color4 > .rtd_rank {
	border-left:solid 10px #b419ff;
}
.team_color4 > .rtd_rank,
.team_color4 > .rtd_player,
.team_color4 > .rtd_score,
.team_color4 > .rtd_info {
	border-bottom	:solid 2px #b419ff;
}
/* 第9回 */
.team_color5 > .rtd_rank {
	border-left:solid 10px #ff63f2;
}
.team_color5 > .rtd_rank,
.team_color5 > .rtd_player,
.team_color5 > .rtd_score,
.team_color5 > .rtd_info {
	border-bottom	:solid 2px #ff63f2;
}
.team_color6 > .rtd_rank {
	border-left:solid 10px #e3e3e3;
}
.team_color6 > .rtd_rank,
.team_color6 > .rtd_player,
.team_color6 > .rtd_score,
.team_color6 > .rtd_info {
	border-bottom	:solid 2px #e3e3e3;
}
/* 第10回 */
.team_color7 > .rtd_rank {
	border-left:solid 10px #f3524c;
}
.team_color7 > .rtd_rank,
.team_color7 > .rtd_player,
.team_color7 > .rtd_score,
.team_color7 > .rtd_info {
	border-bottom	:solid 2px #f3524c;
}
.team_color8 > .rtd_rank {
	border-left:solid 10px #8ba9ff;
}
.team_color8 > .rtd_rank,
.team_color8 > .rtd_player,
.team_color8 > .rtd_score,
.team_color8 > .rtd_info {
	border-bottom	:solid 2px #8ba9ff;
}
/* 第11回 */
.team_color9 > .rtd_rank {
	border-left:solid 10px #e0e0e0;
}
.team_color9 > .rtd_rank,
.team_color9 > .rtd_player,
.team_color9 > .rtd_score,
.team_color9 > .rtd_info {
	border-bottom	:solid 2px #e0e0e0;
}
.team_color10 > .rtd_rank {
	border-left:solid 10px #383838;
}
.team_color10 > .rtd_rank,
.team_color10 > .rtd_player,
.team_color10 > .rtd_score,
.team_color10 > .rtd_info {
	border-bottom	:solid 2px #383838;
}
.team_color11 > .rtd_rank {
	border-left:solid 10px #45aee6;
}
.team_color11 > .rtd_rank,
.team_color11 > .rtd_player,
.team_color11 > .rtd_score,
.team_color11 > .rtd_info {
	border-bottom	:solid 2px #45aee6;
}
.team_color12 > .rtd_rank {
	border-left:solid 10px #e6d745;
}
.team_color12 > .rtd_rank,
.team_color12 > .rtd_player,
.team_color12 > .rtd_score,
.team_color12 > .rtd_info {
	border-bottom	:solid 2px #e6d745;
}
.team_color13 > .rtd_rank {
	border-left:solid 10px #e6456c;
}
.team_color13 > .rtd_rank,
.team_color13 > .rtd_player,
.team_color13 > .rtd_score,
.team_color13 > .rtd_info {
	border-bottom	:solid 2px #e6456c;
}
.team_color14 > .rtd_rank {
	border-left:solid 10px #e6b945;
}
.team_color14 > .rtd_rank,
.team_color14 > .rtd_player,
.team_color14 > .rtd_score,
.team_color14 > .rtd_info {
	border-bottom	:solid 2px #e6b945;
}
.team_color15 > .rtd_rank {
	border-left:solid 10px #45e675;
}
.team_color15 > .rtd_rank,
.team_color15 > .rtd_player,
.team_color15 > .rtd_score,
.team_color15 > .rtd_info {
	border-bottom	:solid 2px #45e675;
}
.team_color16 > .rtd_rank {
	border-left:solid 10px #dce645;
}
.team_color16 > .rtd_rank,
.team_color16 > .rtd_player,
.team_color16 > .rtd_score,
.team_color16 > .rtd_info {
	border-bottom	:solid 2px #dce645;
}

.mobile-clear {
	float:right;
	text-align:right;
}
.filtering_position {
	float:left;
	width:255px;
}
.team_user_tab,
.team_user_tab2 {
	width		:100%;
}
.team_user_tab td {
	border-bottom	:1px solid #777777;
	line-height: 150%;
}
.team_user_tab2 td {
	border-bottom	:1px solid #777777;
	line-height: 95%;
}
#pickup_stage{
	margin		:0;
	height:84px;
	width:100%;
}
.stage_summary {
	color:#cccccc;
	letter-spacing:0.1em;
	margin:1em;
	width:900px;
}
.info_list_tab td:nth-child(3) {
	width : 75%;
}
.series_nav {
	width:100%;
	table-layout:fixed;
	text-align:center;
}
.series_nav td {
	background-color: #333333;
	font-size:10px;
}
.series_nav td a {
	display	:block;
	width	:100%;
}
.def_td {
	width: 100%;
	table-layout: fixed;
	word-break: break-word;
}
.def_td td{
	font-size	:0.85em;
	border		:1px solid #777777;
	text-align	:center;
}
.def_td a{
	font-weight	:bold;
	color		:#111111;
	display		:block;
}
.season_botton {
	width	:100%;
	display:block;
	padding:0.25em 0px;
	font-weight:bold;
	text-align:center;
	line-height:1.25em;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.area_table {
	table-layout	:fixed;
	width		:100%;
}
.area_table td {
	font-size	:0.9em;
}
.area_table td a .fa {
	color		:#222222;
}
.area_table td a p {
	margin		:0;
	text-align	:right;
}
.video_popup {
	width		:720px;
	height		:480px;
}
.head_link_tab {
	float:left;
	width:80%;
	background-color:#444444;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.head_link_tab td {
	font-size:1em;
}
.top_stage_table {
	width: 1024px;
	margin: 20px auto;
	table-layout: fixed;
}
.top_stage_table td {
	vertical-align: top;
	text-align: left;
	font-size: 0.75em;
}
.pc-scroll-wrap{
	overflow: auto;
	white-space: nowrap;
}
.pc-scroll-wrap::-webkit-scrollbar{
	height: 5px;
}
.pc-scroll-wrap::-webkit-scrollbar-track{
	background: #F1F1F1;
}
.pc-scroll-wrap::-webkit-scrollbar-thumb {
	background: #BCBCBC;
}

/* ◆ PC用CSS設定 ここまで */
}

/* ◆スマートフォン用CSS設定 ここから */
@media screen and (max-width: 640px){
.mobile-hidden {
	display		:none;
}
html {
	overflow-x	:hidden;
	-webkit-overflow-scrolling: touch;
}
body {
	width		:100%;
	font-size	:12.5px;
	margin		:0px;
	padding		:0px;
	position	: relative;
	left		: 0;
	top		: 0;
	overflow-x	: hidden;
	color		:#ffffff;
	background-color:#444444;
	font-family: "Mplus 1p", "メイリオ", "ヒラギノ角ゴ ProN W3", sans-serif;
}

#top_page_div {
	margin-top:0px;
	margin:0 auto;
	text-align:center;
}
#top_page_div a {
	color:#ffffff;
}
.top_sub_title, .top_eng_title {
	color:#aaaaaa;
	font-size:1.12em;
	text-shadow:0px 2px 8px #000000;
	text-align: center;
}
.top_title {
	color:#ffffff;
	font-size:5.3vw;
	line-height:98%;
	text-shadow:0px 0px 8px #ffffff;
}
.top_content {
	color:#ffffff;
	font-size:1em;
	text-shadow:0px 2px 8px #000000;
}
.top_sub_content {
	color:#aaaaaa;
	font-size:0.8em;
	text-shadow:0px 2px 8px #000000;
	margin-top:4em;
}
#top_wrapper {
	display: none;
}
#video_mask {
	display:none;
}
/*
video {
	position: fixed;
	top: 0;
	left: 0;
	margin:0;
	padding:0;
	width:100%;
	z-index: -2;
}
*/
video {
	display:none;
}
/* PC版フォームを開いているときにスマホ表示に変更したときの対策 */
.open,
.open2{
	margin-left	:0px;
}
.wrapper_header {
	background-color:#111111;
	color:#ffffff;
	font-size	:0.7em;
	line-height	:30px;
	text-align	:right;
	position		:relative;
	top		:0px;
	margin		:0 auto;
	width		:100%;
	height		:30px;
	filter		:alpha(opacity=90);
	-moz-opacity	:.90;
	opacity		:.90;
}
/* 投稿フォーム */
#org_form{
	margin		:0px;
	padding		:0px;
	width		: 100%;
	color		:#ffffff;
	background-color:#444444;
}
#leftform{
	margin		:0px;
	padding		:0px;
	width		:100%;
}
.form_wrapper{
	height		:800px;
	overflow		:auto;
}
#toggle_div{
	width		:100%;
	text-align	:center;
	font-size		:2.5em;
	line-height	:100%;
	margin		:0px;
	padding		:0px;
	height		:30px;
	background-color:#444444;
}
#toggle_div a{
	color		:#ffffff;
}
a:link, a:visited {
	text-decoration	:none;
}
/* 包括テーブル */
.wrapper {
	margin		:0px;
	width		:100%;
	overflow		:hidden;
}
.wrapper a {
	color		:#ffffff;
}
.wrapper td {
/*	vertical-align:top; */
	margin		:0px;
}
/* 左カラム */
.pik4_form {
	padding-left	:4px;
	line-height	:2em;
	color		:#eeeeee;
	border		:1px solid #555555;
	font-size	:1.33em;
	width		:100%;
	background-color:#111111;
}
.pik4_form a {
	color		:#ffffff;
}
/* 投稿通知 */
.post_notification {
	background-color:#333333;
	color		:#ffffff;
	font-size		:0.7em;
	border		:1px solid #555555;
	padding		:1em;
	margin		:0 auto;
	width		:100%;
	filter		:alpha(opacity=90);
	-moz-opacity	:.90;
	opacity		:.90;
}
.post_notification a {
	color:#ffffff;
	display:block;
	width:100%;
	height:100%;
}
/* ランキングテーブル整形 */
.pik4_scoretab {
	background-color:transparent;
	border-collapse	:separate;
	border-spacing	:0px 10px;
	margin		:0px;
	padding		:0.25em;
	width		:100%;
	overflow	:hidden;
}
.pik4_scoretab td {
/*:	border-left	:solid 1px #777777; */
	padding		:0.5em 0.5em;
}
.rtd_rank {
	border-radius: 10px 0px 0px 10px;
}
.pik4_table {
	background-color:#222222;
	color		:#ffffff;
	border		:1px solid #555555;
	width		:100%;
	margin		:0px;
	filter		:alpha(opacity=95);
	-moz-opacity	:.95;
	opacity		:.95;
	overflow	:hidden;
}
.rtd_main {
	margin		:0px;
	width		:100%;
	margin-top	:1em;
}
.rtd_stage_caption {
	font-size	:2em;
	line-height	:95%;
	font-weight	:normal;
	margin		:0.2em 0px;
	padding		:0;
  text-shadow: 1px 1px 1px #555,
               1px -1px 1px #555,
               -1px 1px 1px #555,
               -1px -1px 1px #555;
}
.fp_sub_caption {
	font-size	:1.6em;
	line-height	:98%;
	font-weight	:normal;
}
.rtd_ranknum {
	font-size	:1.5em;
}
.rtd_rank {
    font-family: 'Quicksand', sans-serif;
	line-height	:100%;
	font-weight	:normal;
	font-size	:1.5em;
	text-align	:center;
	padding		:4px;
  text-shadow: 1px 1px 3px #000,
               1px -1px 3px #000,
               -1px 1px 3px #000,
               -1px -1px 3px #000;
}
.rtd_player {
	font-size	:1.25em;
	font-weight	:bold;
	color		:#ffffff;
	border-bottom : solid 1px #777777;
	vertical-align: middle;
	padding-left:1em;
}
#user_tab .rtd_player a {
	font-size	:1.2em;
	font-weight	:bold;
	color		:#777777;
}
.rtd_score {
	text-align	:right;
	font-size	:1.55em;
	letter-spacing	:0.075em;
	font-family	:'Reem Kufi', sans-serif;
	border-bottom : solid 1px #777777;
	padding-left:1em;
	text-shadow    : 
	2px  2px 2px #000000,
       -2px  2px 2px #000000,
	2px -2px 2px #000000,
       -2px -2px 2px #000000,
	2px  0px 2px #000000,
	0px  2px 2px #000000,
       -2px  0px 2px #000000,
	0px -2px 2px #000000;
}
/* チーム対抗用 */
.rtd2_player{
	font-size	:1.315em;
	font-weight	:bold;
}
.rtd2_score{
	font-size	:1.525em;
	font-weight	:bold;
}
.sub_pulldownmenu {
	text-align	:right;
	margin-right	:1em;
}
#mobile_header_menu {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	position	:fixed;
	bottom		:0px;
	left		:0px;
	width		:20%;
	height		:50px;
	font-size	:18px;
	border		:none;
	background-color:#ffffff;
	line-height	:100%;
	color		:#555555;
	text-align	:center;
	vertical-align  :top;
	box-shadow	: -0px -8px 3px rgba(0,0,0,0.5);
	filter		:alpha(opacity=80);
	-moz-opacity	:.80;
	opacity		:.80;
	z-index		:3;
}
.mobile_fixed {
	background-color:#eeeeee;
	position	:fixed;
	bottom		:0px;
	height		:65px;
	width		:20%;
	/*box-shadow	: -0px -8px 3px rgba(0,0,0,0.5); */
	opacity		:.97;
	z-index		:3;
}
#mobile_fixed_key1 {
	right		:40%;
}
#mobile_fixed_key2 {
	right		:80%;
}
#mobile_fixed_key3 {
	right		:0%;
}
#mobile_fixed_key4 {
	right		:60%;
}
#mobile_fixed_key5 {
	right		:20%;
}
#mobile_fixed_key1 a,
#mobile_fixed_key2 a,
#mobile_fixed_key3 a,
#mobile_fixed_key4 a,
#mobile_fixed_key5 a {
	font-size	:18px;
	color		:#555555;
	display		:block;
	width		:100%;
	text-align	:center;
}
#mobile_fixed_key1 a span,
#mobile_fixed_key2 a span,
#mobile_fixed_key3 a span,
#mobile_fixed_key4 a span,
#mobile_fixed_key5 a span {
	font-size: 12px;
}
.rtd_eng_stage_name {
	color		:#888888;
}
.form_eng_cap {
	font-size	:0.85em;
	color		:#888888;
}
.user_info {
	font-size	:0.8em;
	padding		:2px 4px;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-style	:none;
	margin-left	:0.5em;
	line-height	: 2.3em;
}
.object_list{
	width		:99%;
}
.object_list td:nth-child(1),
.object_list td:nth-child(2),
.object_list td:nth-child(4)
{
	width		:10%;
}
.object_list td:nth-child(3)
{
	width		:70%;
}
.object_list td{
	border-bottom	:solid 1px #777777;
	line-height	:0.98em;
}
.object_list tr:hover {
	background: #323232 ;
	color: #fff;
}
#total_price {
	background-color:transparent;
	color		:#ffffff;
	font-size	:1.5em;
	border		:none;
	font-weight	:bold;
	width		:6em;
}
.rtd_1st {
	font-size		:1.0em;
}
.rtd_1st > .rtd_rank {
	border-left:solid 10px #fdff73;
	height	:4.8em;
}
.rtd_1st > .rtd_rank,
.rtd_1st > .rtd_comment {
	border-bottom	:solid 1px #fdff73;
	vertical-align: middle;
}
.rtd_1st > .rtd_player p,
.rtd_1st > .rtd_score p,
.rtd_1st > .rtd_days p {
	line-height	:100%;
}
.rtd_1st_n {
	font-size		:1.0em;
}
.rtd_1st_n > .rtd_rank {
	border-left:solid 10px #c2c14e;
	height	:3.8em;
}
.rtd_1st_n > .rtd_rank,
.rtd_1st_n > .rtd_comment {
	border-bottom	:solid 1px #c2c14e;
	vertical-align: middle;
}
.rtd_1st_n > .rtd_player p,
.rtd_1st_n > .rtd_score p,
.rtd_1st_n > .rtd_days p {
	line-height	:100%;
}
.rtd_2nd {
	font-size		:1.0em;
	line-height	:1.75em;
	margin-bottom	:0.5em;
}
.rtd_2nd > .rtd_rank {
	border-left:solid 10px #6df2b6;
	height	:3.8em;
}
.rtd_2nd > .rtd_rank,
.rtd_2nd > .rtd_comment {
	border-bottom	:solid 1px #6df2b6;
}
.rtd_2nd > .rtd_player p,
.rtd_2nd > .rtd_score p {
	line-height	:100%;
}
.rtd_3rd {
	font-size		:1.0em;

}
.rtd_3rd > .rtd_rank {
	border-left:solid 10px #5c97e6;
	height	:3.2em;
}
.rtd_3rd > .rtd_rank,
.rtd_3rd > .rtd_comment {
	border-bottom	:solid 1px #5c97e6;
}
.rtd_3rd > .rtd_player p,
.rtd_3rd > .rtd_score p {
	line-height	:100%;
}
.rtd_4th {
	font-size		:1.0em;
	line-height	:1.5em;
}
.rtd_4th > .rtd_rank {
	border-left:solid 10px #e6e6e6;
	height	:2.8em;
}
.rtd_4th > .rtd_rank,
.rtd_4th > .rtd_comment {
	border-bottom	:solid 1px #e6e6e6;
}
.rtd_4th > .rtd_player p,
.rtd_4th > .rtd_score p {
	line-height	:100%;
}
.rtd_10th {
	font-size		:1.0em;
	line-height	:1.5em;
}
.rtd_10th > .rtd_rank {
	border-left:solid 10px #dcf4f5;
	height	:2.0em
}
.rtd_10th > .rtd_rank,
.rtd_10th > .rtd_comment {
	border-bottom	:solid 1px #dcf4f5;
}
.rtd_10th > .rtd_player p,
.rtd_10th > .rtd_score p {
	line-height	:100%;
}
.rtd_11th {
	font-size		:1.0em;
	line-height	:1.5em;
}
.rtd_11th > .rtd_rank {
	border-left:solid 10px #999999;
	height	:2.0em
}
.rtd_11th > .rtd_rank,
.rtd_11th > .rtd_comment {
	border-bottom	:solid 1px #999999;
}
.rtd_11th > .rtd_player p,
.rtd_11th > .rtd_score p {
	line-height	:100%;
}
.rtd_21th {
	font-size		:1.0em;
	line-height	:1.5em;
}
.rtd_21th > .rtd_rank {
	border-left:solid 10px #666666;
	height	:2.0em
}
.rtd_21th > .rtd_rank,
.rtd_21th > .rtd_comment {
	border-bottom	:solid 2px #666666;
}
.rtd_21th > .rtd_player p,
.rtd_21th > .rtd_score p {
	line-height	:100%;
}
.team_color1 > .rtd_rank {
	border-left:solid 10px #19acff;
}
.team_color1 > .rtd_rank,
.team_color1 > .rtd_comment {
	border-bottom	:solid 2px #19acff;
}
.team_color2 > .rtd_rank {
	border-left:solid 10px #ff3919;
}
.team_color2 > .rtd_rank,
.team_color2 > .rtd_comment {
	border-bottom	:solid 2px #ff3919;
}
.team_color3 > .rtd_rank {
	border-left:solid 10px #eeeeee;
}
.team_color3 > .rtd_rank,
.team_color3 > .rtd_comment {
	border-bottom	:solid 2px #eeeeee;
}
.team_color4 > .rtd_rank {
	border-left:solid 10px #b419ff;
}
.team_color4 > .rtd_rank,
.team_color4 > .rtd_comment {
	border-bottom	:solid 2px #b419ff;
}
.team_color5 > .rtd_rank {
	border-left:solid 10px #ff63f2;
}
.team_color5 > .rtd_rank,
.team_color5 > .rtd_comment {
	border-bottom	:solid 2px #ff63f2;
}
.team_color6 > .rtd_rank {
	border-left:solid 10px #e3e3e3;
}
.team_color6 > .rtd_rank,
.team_color6 > .rtd_comment {
	border-bottom	:solid 2px #e3e3e3;
}
.team_color7 > .rtd_rank {
	border-left:solid 10px #f3524c;
}
.team_color7 > .rtd_rank,
.team_color7 > .rtd_comment {
	border-bottom	:solid 2px #f3524c;
}
.team_color8 > .rtd_rank {
	border-left:solid 10px #8ba9ff;
}
.team_color8 > .rtd_rank,
.team_color8 > .rtd_comment {
	border-bottom	:solid 2px #8ba9ff;
}
.team_color9 > .rtd_rank {
	border-left:solid 10px #e0e0e0;
}
.team_color9 > .rtd_rank,
.team_color9 > .rtd_comment {
	border-bottom	:solid 2px #e0e0e0;
}
.team_color10 > .rtd_rank {
	border-left:solid 10px #383838;
}
.team_color10 > .rtd_rank,
.team_color10 > .rtd_comment {
	border-bottom	:solid 2px #383838;
}
.team_color11 > .rtd_rank {
	border-left:solid 10px #45aee6;
}
.team_color11 > .rtd_rank,
.team_color11 > .rtd_comment {
	border-bottom	:solid 2px #45aee6;
}
.team_color12 > .rtd_rank {
	border-left:solid 10px #e6d745;
}
.team_color12 > .rtd_rank,
.team_color12 > .rtd_comment {
	border-bottom	:solid 2px #e6d745;
}
.team_color13 > .rtd_rank {
	border-left:solid 10px #e6456c;
}
.team_color13 > .rtd_rank,
.team_color13 > .rtd_comment {
	border-bottom	:solid 2px #e6456c;
}
.team_color14 > .rtd_rank {
	border-left:solid 10px #e6b945;
}
.team_color14 > .rtd_rank,
.team_color14 > .rtd_comment {
	border-bottom	:solid 2px #e6b945;
}
.mobile-clear {
	text-align:right;
}
.filtering_position {
	width:100%;
}
.team_point {
	font-family	:'Julius Sans One', sans-serif;
	font-size	:20vw;
	line-height	:85%;
	letter-spacing	:0.03em;
}
.team_point_mini {
	font-family	:'Reem Kufi', sans-serif;
	line-height	:50%;
	font-size	:2em;
	letter-spacing	:0.33em;
}
#pickup_stage{
	margin		:0;
	height:168px;
	width:100%;
}
.stage_summary {
	color:#cccccc;
	letter-spacing:0.1em;
	margin:1em;
	width:94%;
}
.stagelist_tab td:nth-child(2),
.stagelist_tab th:nth-child(2),
.stagelist_tab td:nth-child(6),
.stagelist_tab th:nth-child(6),
.stagelist_tab td:nth-child(7),
.stagelist_tab th:nth-child(7){
	display:none;
}
.scroll-wrap{
	overflow: auto;
	/* white-space: nowrap; */
}
.scroll-wrap::-webkit-scrollbar{
	height: 5px;
}
.scroll-wrap::-webkit-scrollbar-track{
	background: #F1F1F1;
}
.scroll-wrap::-webkit-scrollbar-thumb {
	background: #BCBCBC;
}
.series_nav {
	width:1200px;
	table-layout:fixed;
	text-align:center;
}
.series_nav td {
	background-color: #333333;
	font-size:1em;
}
.series_nav td a {
	display	:block;
	width	:100%;
}
.def_td {
	width: 1200px;
	table-layout: fixed;
	word-break: break-word;
}
.def_td td{
	font-size	:0.85em;
	border		:1px solid #777777;
	text-align	:center;
}
.def_td a{
	font-weight	:bold;
	color		:#111111;
	display		:block;
}
.season_botton {
	width	:100%;
	display:block;
	padding:0.25em 0px;
	font-weight:bold;
	text-align:center;
	line-height:1.25em;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.area_table {
	table-layout	:fixed;
	width		:1200px;
}
.area_table td {
	height		:7.3em;
	font-size	:0.9em;
}
.area_table td a .fa {
	color		:#222222;
}
.area_table td a p {
	margin		:0;
	text-align	:right;
}
.head_link_tab {
	float:left;
	width:100%;
	background-color:#444444;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.head_link_tab td {
	font-size:1em;
}
/* 携帯表示時、サブメニューを隠す 参考：https://coco-factory.jp/ugokuweb/move01/5-1-13/ */
#g-nav,
#org_form {
	position:fixed;
	z-index: 2;
	top: 0;
	height: 100vh;
	transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
	overflow: auto;
}
#g-nav {
	right: -120%;
	width: 80%;
}
#org_form {
	left: -120%;
	width: 60%;
}
#g-nav.panelactive {
	right: 0;
}
#org_form.panelactive {
	left: 0;
}
#g-nav.panelactive #g-nav-list,
#org_form.panelactive #org_form-list {
	background-color: #000;
	left: 0;
	z-index: 2;
	height: 100vh;
	overflow : auto;
}
/* サイドメニュー表示時の背景をぼかす */
.mainblur {
	filter: blur(8px);
	transition: all 0.8s ease-in-out;
	cursor: pointer;
}
.mainblur a {
	pointer-events: none;
}
.blurhidden {
	position:fixed;
	left:0;
	top:0;
	z-index:1;
	width:100%;
	height:100vh;
}
.hidden {
	display: none;
}
/* ◆スマートフォン用CSS設定ここまで */

}
/* ◆4インチ以下モバイル用CSS設定ここから */
@media screen and (max-width: 320px){
.team_point {
	font-family	:'Julius Sans One', sans-serif;
	font-size	:6.5em;
	line-height	:85%;
	letter-spacing	:0.03em;
}
.team_point_mini {
	font-family	:'Reem Kufi', sans-serif;
	line-height	:50%;
	font-size	:2em;
	letter-spacing	:0.03em;
}
/* ◆4インチ以下モバイル用CSS設定ここまで */
}

/* ◆共通CSS設定ここから */
#video2, #video3, #video4, #video5, #video6, #video7, #video8, #video9, #video10,
 #video11, #video12, #video13, #video14, #video15, #video16, #video17, #video18{
    display: none;
}
#video_mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image:url(https://chr.mn/_img/pik4/videomask.png);
	filter		:alpha(opacity=50);
	-moz-opacity	:.50;
	opacity		:.50;
	z-index: -1;
}
.rule li {
	line-height	:1.8em;
	border-bottom	:dotted 1px #777777;
	margin-top	:0.5em;
}
.nav {
	width		:100%;
	list-style-type	:none;
	margin		:0 0 1.5em 0;
	padding		:0;
}
.marklink {
	background-color:#888;
	padding		:0.3em;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.not-margin {
	margin		:0;
}
.nav ul li {
	padding		:0px;
	margin		:0px;
}
.fnavl {
	float:		left;
	width:		50%;
}
.fnavr {
	float:		right;
	width:		50%;
}
.fnavp:after {
	content: "";
	clear: both;
	display: block;
}
.nav a {
	padding		:2px;
	display		:block;
	border-bottom	:1px solid #666666;
}
.nav a:hover {
	background-color:#dddddd;
	color		:#000000;
}
.nav a span {
	margin-right	:0.2em;
}
.nav_caption {
	color		:#ffffff;
	margin-top	:1.5em;
	font-size	:1.2em;
}
.mobnav li {
	line-height: 2.5em;
	text-align: center;
	font-weight: bold;
}
.mobnav li a {
	color: #fff;
}
.pik4_scoretab a {
	color		:#ffffff;
}
.pik4_scoretab p {
	margin		:0px;
	padding		:0px;
}
.rtd_subtitle {
	font-size		:0.8em;
	color		:#777777;
}
.rtd_bottom {
	box-shadow: 0px 9px 3px -3px rgba(0,0,0,0.6);
	margin-bottom: 6px;
}

.rtd_rps {
	font-size		:0.6em;
	color			:#cccccc;
}
.mobile_unique_id {
	font-size: 0.6em;
	color: #ccc;
}
.rtd_storypts {
	font-size		:0.8em;
	line-height	:100%;
}
.rtd_date {
	font-size		:1em;
}
.rtd_diffscores {
	font-size		:0.8em;
	color		:#999999;
}
.rtd_score_ssds {
	font-size		:0.8em;
	color			:#8773ff;
}
.rtd_score_win {
	font-size		:0.8em;
	color		:#4ce600;
}
.rtd_score_lose {
	font-size		:0.8em;
	color		:#00abe6;
}
.rtd_score_wr0 {
	font-size		:0.8em;
	color		:#e6be00;
}
.rtd_score_wr1 {
	font-size		:0.8em;
	color		:#9ae600;
}
.rtd_score_wr2 {
	font-size		:0.8em;
	color		:#00d1e6;
}
.rtd_score_wr3 {
	font-size		:0.8em;
	color		:#db00e6;
}
.rtd_score_wr4 {
	font-size		:0.8em;
	color		:#999999;
}
.rtd_time {
	font-size		:0.8em;
	color		:#999999;
}
.rtd_stage a {
	font-size		:1em;
	color		:#cccccc;
}
.rtd_stage p {
	line-height	:0.95em;
}
#user_tab .rtd_stage a {
	font-size		:1em;
	font-weight	:bold;
	color		:#ffffff;
}
.rtd_console {
	font-size		:1em;
}
.rtd_comment td {
	height		:0.8em;
	width		:50%;
}
.rtd_comment {
	line-height	:1.08em;
	font-size	:0.9em;
	color		:#bbbbbb;
}
.rtdtop_symbol {
	font-size		:3.5em;
	color		:#cccccc;
}
.rtdtop_title {
	font-size		:1.5em;
	font-weight	:bold;
	line-height	:120%;
}
.rtdtop_ranker {
	padding-left	:2em;
	font-size		:0.8em;
	color		:#cccccc;
}
svg,
.fa,
.fas,
.fab,
.far {
	padding-right:0.2em;
	padding-left:0.2em;
	cursor:pointer;
}
.form_button {
	font-size	:1.35em;
	font-weight	:bold;
	line-height	:1.35em;
	border-radius	:5px;
	background-color:#ffffff;
}
.form_button a {
	color		:#000000;
}
.compare_win {
	font-size		:2em;
	color		:#4ce600;
	line-height	:1em;
}
.compare_lose {
	font-size		:2em;
	color		:#00abe6;
	line-height	:1em;
}
.compare_nocolor {
	font-size	:2em;
	line-height	:1em;
}
.compare_even {
	font-size		:2em;
	color		:#999999;
	line-height	:1em;
}
.compare_other {
	font-size		:1.5em;
	color		:#aaaaaa;
	line-height	:1em;
}
.compare_wr0 {
	font-size		:2em;
	color		:#e6be00;
	line-height	:1em;
}
.compare_wr1 {
	font-size		:1.7em;
	color		:#9ae600;
	line-height	:1em;
}
.compare_wr2 {
	font-size		:1.7em;
	color		:#00d1e6;
	line-height	:1em;
}
.compare_wr3 {
	font-size		:1.7em;
	color		:#db00e6;
	line-height	:1em;
}
.form_story_lim {
	border-collapse: collapse;
}
.form_story_lim td {
	border		:solid 1px #aaaaaa;
}
/* iOS自動リンク対策 */
.user_info a {
	color		:#ffffff;
	text-decoration	:none;
}
.user_info .fa {
	color		:#000;
}
.history_mode {
	background-color:#bee719;
}
.history_mode a{
	text-decoration	:none;
	font-weight	:bold;
	color		:#111111;
}
.ui_all {
	background-color:#ffffff;
	color		:#111111;
}
.ui_p1 {
	background-color:#aba638;
	color		:#111111;
}
.ui_p2 {
	background-color:#ab3d38;
	color		:#111111;
}
.ui_p3 {
	background-color:#4aab38;
	color		:#111111;
}
.ui_p9 {
	background-color:#38aba9;
	color		:#111111;
}
.ui_pl {
	background-color:#3854ab;
	color		:#111111;
}
.ui_top {
	font-weight	:bold;
	box-shadow:0px 0px 2px 2px #aaaaaa;
	-moz-box-shadow:0px 0px 2px 2px #aaaaaa;
	-webkit-box-shadow:0px 0px 2px 2px #aaaaaa;
}
.red	{ color		:#dc2014; }
.blue	{ color		:#149edc; }
.yellow	{ color		:#dcd614; }
.purple	{ color		:#a814dc; }
.white	{ color		:#e8e8e8; }
.rock	{ color		:#dc6f14; }
.winged	{ color		:#dc14ae; }
.bulbmin	{ color		:#14dc38; }
.queen	{ color		:#14acdc; }

/* 比較用プルダウン表示用送信ボタン (ver.2.17廃止) */
.form2_send {
line-height:1.5em;margin-left:0.5em;border:dotted 1px #ffffff;background-color:transparent;color:#ffffff;
}
/* 携帯スライドショー */
#headImage {
    width: 100%;
    background-color: #333;
}
.team_0 {
	font-size	:0.8em;
	padding		:2px 4px;
	border-radius	:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-style	:none;
	margin-left	:0.5em;
	line-height	: 2.3em;
	background-color:#ffffff;
	color:#000000;
}
.team_1 {
	font-size	:0.8em;
	padding		:2px 4px;
	border-radius	:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-style	:none;
	margin-left	:0.5em;
	line-height	: 2.3em;
	background-color:#19acff;
}
.team_2 {
	font-size	:0.8em;
	padding		:2px 4px;
	border-radius	:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-style	:none;
	margin-left	:0.5em;
	line-height	: 2.3em;
	background-color:#ff3919;
}
.page_table {
	width		:800px;
	margin		:0 auto;
	border-collapse	:collapse;
}
.page_table td {
	border-bottom	:1px solid #777777;
}
.score_tale {
	font-size	:0.8em;
	color		:#bbbbbb;
}
.score_tale2 {
	font-size	:0.8em;
	color		:#fffecc;
}
.nr_td {
	width		:100%;
	border-collapse	:collapse;
}
.nr_td td{
	font-size	:0.85em;
	line-height	:1.75em;
	border-bottom	:1px solid #777777;
	text-align	:center;
}
.nr_td a{
	font-weight	:bold;
	display		:block;
}
.total_comment_tab{
	table-layout	:fixed;
	font-size	:0.9em;
	width		:100%;
	height		:100%;
}
.total_comment_tab td{
	padding		:0;
	margin		:0;
	border-left	:none;
	border-top	:none;
	border-right	:1px solid #777777;
	border-bottom	:2px solid #777777;
}
.split_table {
	width		:100%;
	table-layout	:fixed;
}
.split_table td {
	border-right	:1px dotted #777777;
	border-bottom	:1px dotted #777777;
}
.r1st  { color:#f5f462;}
.r2nd  { color:#81f562;}
.r3rd  { color:#62caf5;}
.r4th  { color:#e6e6e6;}
.r5th  { color:#999999;}
.r9th  { color:#777777;}
.rtop  { color:#bbbbbb;}

.team1 { color:#19acff;}
.team2 { color:#ff3919;}
.team3 { color:#eeeeee;}
.team4 { color:#b419ff;}
.team5 { color:#ff63f2;}
.team6 { color:#e3e3e3;}
.team7 { color:#f3524c;}
.team8 { color:#8ba9ff;}
.team9 { color:#e0e0e0;}
.team10{ color:#010101;}
.team11{ color:#45aee6;}
.team12{ color:#e6d745;}
.team13{ color:#e6456c;}
.team14{ color:#e6b945;}

/*.team10{ color:#1c1c1c; text-shadow:0.5px 0.5px 0 #ccc,-0.5px 0.5px 0 #ccc,0.5px -0.5px 0 #ccc,-0.5px -0.5px 0 #ccc;}*/

.post_count td{
	border-bottom	:1px solid #777777;
	text-align	:center;
}

.menu_toggle{
	font-size	:0.8em;
	padding		:2px 4px;
	border-radius	:4px;
	border-style	:none;
	line-height	: 2.3em;
	border:solid 1px #eeeeee;
	background-color:#333333;
}
.pageBd{
	width		:100%;
	display		:table;
	list-style-type	:none;
	margin		:0;
	padding		:0;
}
.pageBd li{
	display		:table-cell;
	color		:#444444;
}
.pickup_child{
	background-color:#111111;
	margin		:0;
}
.pickup_menu{
	margin-top	:0.5em;
	padding-bottom	:0.5em;
	background-color:#555555;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.pickup_menu td{
	border-bottom	:solid 1px #777777;
	border-left	:solid 1px #777777;
	line-height	:1.3em;
}
.pickup_menu table a{
	display		:block;
}

.area_0 {background-color:#222222;} /* 壁 */
.area_1 {background-color:#888888;} /* 未解禁フリーエリア */
.area_2 {background-color:#e4e4e4;} /* プレイアブルエリア */
.area_3 {background-color:#7ea9f3;} /* プレイアブルエリア */
.area_4 {background-color:#95fa4b;} /* 第一ボーダー突破 */
.area_5 {background-color:#e0fa4b;} /* エクストラボーダー突破 */

.area_1 a {
	display:block;
	height:100%;
	color:#222222;
}
.area_2 a,
.area_3 a,
.area_4 a,
.area_5 a {
	display:block;
	height:100%;
	color:#222222;
	text-shadow: 1px 1px 1px #fff,1px -1px 1px #fff,-1px 1px 1px #fff,-1px -1px 1px #fff;
}

.area_n a {color:#555;} /* カレントエリアではない */
.area_c a {color:#000;} /* カレントエリア */


.tooltip_templates {
	display: none;
}
.tooltip_inside a {
	color: #ffffff;
}
.tooltipster-box {
	filter		:alpha(opacity=90);
	-moz-opacity	:.90;
	opacity		:.90;
}


/* 投稿フォーム */
.f_time {
	font-size:	0.8em;
	margin:		0;
	width:		1.5em;
	ime-mode:	disabled;
}
.c0 td {
	width:		200px;
}
.stagelist_tab {
	width:		100%;
}
.stagelist_tab td,
.stagelist_tab th {
	line-height:	3em;
	text-align:	center;
	border-bottom:	1px solid #777777;
}
.stagelist_tab2 {
	width:		100%;
}
.stagelist_tab2 td,
.stagelist_tab2 th {
	line-height:	3em;
	text-align:	center;
	border-bottom:	1px solid #777777;
}
.wrlist_tab {
	width:		100%;
}
.wrlist_tab td,
.wrlist_tab th {
	min-width: 	40px;
	font-size:	10px;
	line-height:	3em;
	text-align:	center;
	border-bottom:	1px solid #777777;
}
.wrlist_tab td:nth-child(even){
	background-color: #444;
	color: #fff;
}
.headerSortUp,
.headerSortDown {
	background-color:#cccccc;
	color		:#333333;
}
.user_stat_title {
	background-color:#cccccc;
	font-weight:bold;
	color:#111111;
}
.fp_main{
	margin-top:1em;
}
.fp_content{
	color:#dddddd;
	padding:0 2.4em;
	line-height:2em;
}
.rtd_rate{
	font-size:0.75em;
	color:#87AEB2;
	line-height:110%;
}
/* レーティングクラスの定義 */
.rtd_class_a{color:#d548aa;}
.rtd_class_b{color:#48d585;}

.chess_icon_b {
	width:0.8em;
	filter: drop-shadow(0px 0px 3px #000000);
}
.chess_icon_w {
	width:0.8em;
	filter: drop-shadow(0px 0px 3px #ffffff);
}
.team_info_tab {
	width:100%;
	border-collapse	:collapse;
	margin-top: 1em;
}
/* 汎用ミニフォント表示 */
.att {
	font-size:0.8em;
	color:#777777;
}
.tab_center td {
	text-align:center;
	border:1px solid #777777;
}
.info_list_tab {
	width : 100%;
}
.info_list_tab td {
	font-size:0.9em;
	vertical-align:middle;
	padding-left:2em;
	border-bottom:1px solid #777777;
}
.rtd_1st_m  {border-bottom: solid 6px #f5f462;}
.rtd_2nd_m  {border-bottom: solid 5px #81f562;}
.rtd_3rd_m  {border-bottom: solid 4px #62caf5;}
.rtd_10th_m {border-bottom: solid 3px #dcf4f5;}
.rtd_11th_m {border-bottom: solid 2px #999999;}
.rtd_21th_m {border-bottom: solid 1px #999999;}

.my {
	background: linear-gradient(transparent 90%, #7af47f 90%);
}
.mi {
	background: linear-gradient(transparent 90%, #f0f47a 90%);
}
.mr {
	background: linear-gradient(transparent 90%, #f47a7b 90%);
}
.bold {
	font-size: 1.2em;
	font-weight: bold;
	color: #ffffff;
}
.rtd_main ul {
	line-height: 2em;
}
.info_tab {
	width:100%;
}
.info_tab td {
	border-collapse	:collapse;
	border: 1px solid #777777;
	padding: 0.5em;
}
select {
	font-size: 0.9em;
}

/* ◆投稿年の色分け◆ */
.nrc0 { color: #e6ff00;	filter: drop-shadow(0px 0px 3px #ffffff); }
.nrc1 { color: #f0ff66; }
.nrc2 { color: #f5ff99; }
.nrc3 { color: #faffcc; }

.pikcup_title {
	border-left:10px solid #f50ef2;
	padding:6px;
	margin:1em 6px 6px 6px;
	font-weight:normal;
	background-color:#444444;
	border-radius	:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.pikcup_tips {
	font-size:0.9em;
	float:right;
	padding:6px;
	margin-right:6px;
	background-color:#444444;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.speed_test {
	background-color:#222;
	color:#ddd;
	position:fixed;
	right:0px;
	bottom:0px;
	filter		:alpha(opacity=70);
	-moz-opacity	:.70;
	opacity		:.70;
}
.test_float_left {
	background-color:#222;
	color:#ddd;
	position:fixed;
	left:0px;
	bottom:0px;
	filter		:alpha(opacity=70);
	-moz-opacity	:.70;
	opacity		:.70;
}
/* ミニメニューのカラーリングを統一する */
.mini_caption1 { color: #24CAFF !important;}
.mini_caption2 { color: #32E8B5 !important;}
.mini_caption3 { color: #31FF55 !important;}
.mini_caption4 { color: #94E84E !important;}
.mini_caption5 { color: #FFF837 !important;}
.mini_caption6 { color: #59F4FF !important;}
.mini_caption7 { color: #FFDD37 !important;}

/* エリア争奪戦のメーター */
meter {
	width:	99.9%;
	height:	20px;
	border:	1px solid #ccc;
}
/* LINE風バルーン */
.comment1 {
	background-color:#337780;
	color : #fff;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin-top:1em;
	padding:0.5em;
}
.comment2 {
	background-color:#3b8033;
	color : #fff;
	border-radius	:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	margin-top:1em;
	padding:0.5em;
}
#org_form input[type="text"],
#org_form input[type="password"],
#org_form input[type="submit"],
#org_form select {
	width: 276px;
}
.infof {
	font-size:1.45em;
	color: #ffffff;
	margin-right: 0.25em;
}
.mfoot {
	color: #000000;
	display: block;
	padding-top: 5px;
}
.indent {
	padding-left:2em;
}
h2, h3, h4 {
	padding-top: 2em;
	border-bottom: 1px solid #aaaaaa;
}
.md {
	font-size: 0.9em;
	color: #aaa;
}
.ida {
	color: #aaa;
	font-style: italic;
}
.f-white {
	color: #fff;
}
#CDT3 .day {
	font-size:1.5em;
	color: #90eff5;
}
.wraplink {
	display: block;
	width: 100%;
	height: 100%;
}
/* ◆共通CSS設定ここまで */
